<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830970654007-miv6f0cb401a4qui0cjskusum331b1ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830970654007-miv6f0cb401a4qui0cjskusum331b1ud</string>
	<key>API_KEY</key>
	<string>AIzaSyAwjuv1cfZ8gjHkXXSrNZqdgbbb2N4gTgk</string>
	<key>GCM_SENDER_ID</key>
	<string>830970654007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsvetkovrb.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-22</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830970654007:ios:64f687f8f1149adbd63eb2</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-clone-22.firebaseio.com</string>
</dict>
</plist>